@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.eot?#iefix') format('embedded-opentype'),
    url('Helvetica.woff') format('woff'),
    url('Helvetica.ttf') format('truetype'),
    url('Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLT-BoldExt';
    src: url('HelveticaNeueLT-BoldExt.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueLT-BoldExt.woff') format('woff'),
    url('HelveticaNeueLT-BoldExt.ttf') format('truetype'),
    url('HelveticaNeueLT-BoldExt.svg#HelveticaNeueLT-BoldExt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLT-Extended';
    src: url('HelveticaNeueLT-Extended.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueLT-Extended.woff') format('woff'),
    url('HelveticaNeueLT-Extended.ttf') format('truetype'),
    url('HelveticaNeueLT-Extended.svg#HelveticaNeueLT-Extended') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLT-LightExt';
    src: url('HelveticaNeueLT-LightExt.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueLT-LightExt.woff') format('woff'),
    url('HelveticaNeueLT-LightExt.ttf') format('truetype'),
    url('HelveticaNeueLT-LightExt.svg#HelveticaNeueLT-LightExt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticabold';
    src: url('helvetica-bold-webfont.woff2') format('woff2'),
    url('helvetica-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
