.loader1 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 9999;
    text-align: center;
    left: 0px;
    top: 0px;
    img {
        top: 45%;
        width: 40px;
        position: relative;
        transform: translateY(-45%);
    }
}

.loader {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    z-index: 9999;
    text-align: center;
    left: 0px;
    top: 0px;
    img {
        top: 45%;
        width: 75px;
        position: relative;
        transform: translateY(-45%);
    }
}

.disabled {
    cursor: no-drop !important;
    color: #777 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.tours-mainwrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.payment-checkbox {
    label.error {
        position: static;
        padding-left: 0px;
        padding-top: 0px;
    }
}


.btn_p{
    
    padding-top: 8px !important;
    padding-bottom: 9px !important;
    
}
.bottom-height{
    margin-bottom: 10px;
}

.disable_item_custom{
	cursor:no-drop !important;
}

btn.disabled, .btn:disabled, .btn.disabled:hover, .btn:disabled:hover{
    cursor: no-drop;
    background: none;
    color: #212121;
}

.cancellation_policy { 
    position:  relative;
}
.cancellation_policybox {
    box-shadow: 0 1px 3px 0 rgba(35, 31, 32, 0.4);
    padding: 10px 10px 0 10px;
    width: 500px;
    background-color: #fff;
    position: absolute;
    top: -15px;
    display: none;
    left: 170px;
    border: solid 1px #d0d0d0;
    z-index: 9
}
.cancellation_policybox::before {
    content: "\f0d9";
    font-family: 'FontAwesome';
    position: absolute;
    left: -15px;
    color: #d6d6d6;
    font-size: 40px
}
.cancellation_policybox p{ text-align: justify !important; }
.cancellation_policy:hover .cancellation_policybox {display: block; }
.cancellation_policy a{ color:#249dd0; }

/* payment summary cancellation policy */
.cancellation_policy1 { 
    position:  relative;
}

.cancellation_policybox1 {
    box-shadow: 0 1px 3px 0 rgba(35, 31, 32, 0.4);
    padding: 10px 10px 0 10px;
    width: 500px;
    background-color: #fff;
    position: absolute;
    top: -15px;
    display: none;
    right: 140px;
    border: solid 1px #d0d0d0;
    z-index: 9;

    &::before {
        content: "\f0da";
        font-family: 'FontAwesome';
        position: absolute;
        right: -15px;
        color: #d6d6d6;
        font-size: 40px
    }
    p{ text-align: justify !important; }
}

.cancellation_policy1:hover .cancellation_policybox1 {display: block; }  
.room-block .custom_check{ line-height: 17px !important;}

    .goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
    body
    {
    top:0 !important;
    }

   