.panel {
    box-shadow: $box-shadow;
}

.modal-open {
    overflow: auto;
}

h5 {
    font-family: $secondary-bold-font;
    color: $header-bg-color;
}

.btn {
    line-height: 1.7rem;
}

.black-checkbox {
    .custom_check {
        display: inline-block;
        position: relative;
        cursor: pointer;
        line-height: 19px;
        position: relative;
        padding-left: 30px;
        color: #212121;
        font-size: 14px;
        input {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            margin: 0px 0px;
            z-index: 2;
        }
        .check_indicator {
            height: 18px;
            width: 18px;
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: transparent;
            border: 1px solid #212121;
            border-radius: 0px;
        }

        input:checked + .check_indicator:before {
            width: 6px;
            height: 10px;
            position: absolute;
            background-color: #212121;
            left: 5px;
            top: 1px;
            border: solid #ffffff;
            border-width: 0px 3px 3px 0px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            content: "";
            z-index: 1;
        }

        input:indeterminate + .check_indicator:before {
            width: 6px;
            height: 10px;
            position: absolute;
            background-color: #212121;
            left: 5px;
            top: 6px;
            border: solid #ffffff;
            border-width: 3px 0px 0px 0px;
            content: "";
            z-index: 1;
        }



        input:indeterminate + .check_indicator:after {
            background-color: #212121;
            content: '';
            width: 18px;
            height: 18px;
            position: absolute;
            left: -1px;
            top: -1px;
            z-index: 0;
        }


        input:checked + .check_indicator:after {
            background-color: #212121;
            content: '';
            width: 18px;
            height: 18px;
            position: absolute;
            left: -1px;
            top: -1px;
            z-index: 0;
        }

    }
}

.fildes_outer {
    textarea.form-control {
        height: auto;
    }
}

.tours-sidebar {
    .tour-icon {
        width: 30px;
    }

    .collapsed {
        .fa-minus {
            &::before {
                content: "\f067";
            }
            font-size: 0.8rem;
        }
    }
    .moreCountry {
        float: right;
        margin-top: 1px;
    }
}

.tours-wrapper.itinerary_right {
    padding-right: 0px;
}

.tours-wrapper {
    .cal-icon {
        position: relative;
        top: -2px;
    }
    .tourcode-icon {
        position: relative;
        top: -1px;
    }
    .accomodation-grid {
        .card-body {
            span {
                font-size: 12px;
            }
        }
    }
    .right_form_click_block {
        box-shadow: $box-shadow;
        .click_map_hide {
            height: 100%;
            margin: 0rem;
            i {
                position: relative;
                top: 16rem;
            }
            &.active {
                transform: rotateY(180deg);
            }
        }
    }

    .tabs-search-container {
        box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.24);
        .input-group {
            .form-control {
                outline: none;
                box-shadow: none;
            }
            .btn {
                box-shadow: none;
            }
        }
        .tour-tabs {
            .nav-link {
                padding: 0.5rem 0rem;
                &:hover {
                    border-bottom: solid 2px $secondary;
                }
            }
            .nav-link.active {
                border-bottom: solid 2px $secondary;
                color: $secondary;
            }
        }
        .nav-pills {
            .nav-link {
                color: $secondary;
                display: inline-block;
                border-radius: 0px;
                padding: 0.5rem 0.5rem;
                border-bottom: solid 2px transparent;
            }
        }
        .exchange-tabs {
            .nav-pills {
                .nav-link {
                    &.active {
                        background-color: transparent;
                        color: $theme-color;
                    }
                }
            }
        }
    }
    .card {
        @include border-radius($card-border-radius);
        .accomodation-img {
            width: 19rem;
            height: 14rem;
            float: left;
            overflow: hidden;
            position: relative;
            @include media-breakpoint-down(lg) {
                height: 11rem;
                ;
            }

            img {
                width: 100%;
            }
        }
        .flight-included {
            position: absolute;
            bottom: 30px;
            right: 0;
            z-index: 9;
            background-color: $theme-color;
            color: $white;
            padding: 2px 15px 2px 2px;
            border-bottom-left-radius: 50px;
            border-top-left-radius: 50px;
            font-size: 16px;
            letter-spacing: 0.2px;
            .flight-icon {
                background-color: $white;
                border-radius: 50px;
                text-align: center;
                display: inline-block;
                padding: 7px 12px;
                margin-right: 12px;
                color: $theme-color;
            }


        }
        .accomodation-details {
            margin-left: 20rem;
        }
        .accomodation-grid-img {
            width: 100%;
            position: relative; // overflow: hidden;
        }
    }
}

.morelocation {
    .collapsed {
        .fa-minus {
            &::before {
                content: "\f067";
            }
            font-size: 0.8rem;
        }
    }
}

/*-- detail page --*/

.tour-details {
    .table {
        td {
            border: none;
        }
    }
    .card {
        @include border-radius($card-border-radius);
        .accordion-title {
            &:hover {
                cursor: pointer;
            }
            .collapsed {
                .fa-minus-circle {
                    &:before {
                        content: "\f055";
                    }
                }
            }
        }
    }

    .jcarousel-wrapper {
        margin: 20px auto 0px auto;
        position: relative;
        .jcarousel {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 190px;
            overflow: hidden;
            ul {
                width: 20000em;
                position: relative;
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    width: 200px;
                    float: left;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 0 4px;
                    &:first-child {
                        padding-left: 0px;
                    }
                    img {
                        display: block;
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }

    .jcarousel-control-prev,
    .jcarousel-control-next {
        position: absolute;
        top: 45%;
        transform: translateY(-45%);
        width: 44px;
        height: 44px;
        text-align: center;
        color: #505050;
        text-decoration: none;
        padding: 5px;
        font-size: 24px;
        font-weight: bold;
        z-index: 9;
        &:hover {
            color: #505050;
            span {
                display: block;
            }
        }
    }

    .jcarousel-control-prev {
        left: 0px;
    }
    .jcarousel-control-next {
        right: 0;
    }

    .jcarousel-control-prev.inactive,
    .jcarousel-control-next.inactive {
        background-color: #EEEEEE;
        cursor: default;
    }
    .jcarousel-pagination {
        position: absolute;
        bottom: -33px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .jcarousel-pagination {
        a {
            text-decoration: none;
            display: inline-block;
            font-size: 11px;
            height: 10px;
            width: 10px;
            line-height: 10px;
            background: #fff;
            color: #4E443C;
            border-radius: 10px;
            text-indent: -9999px;
            margin-right: 6px;
            -webkit-box-shadow: 0 0 2px #4E443C;
            -moz-box-shadow: 0 0 2px #4E443C;
            box-shadow: 0 0 2px #4E443C;
        }
        a.active {
            background: #4E443C;
            color: #fff;
            opacity: 1;
            -webkit-box-shadow: 0 0 2px #F0EFE7;
            -moz-box-shadow: 0 0 2px #F0EFE7;
            box-shadow: 0 0 2px #F0EFE7;
        }
    }

    .nav-pills {
        .nav-item {
            padding: 0 $nav-link-padding-y;
            .nav-link {
                box-shadow: $box-shadow;
                border-radius: $btn-border-radius;
                padding: $nav-link-padding-x $nav-link-padding-y;
                color: $secondary;
            }
            .nav-link.active {
                background-color: $theme-color;
                border-color: $theme-color;
                color: $white;
            }
        }
    }

    .dateRates-section {
        .media-body {
            span {
                font-family: $primary-extended-font;
            }
        }

    }
    .google-login {
        outline: none;
        background-color: #DD4B39;
        border: 1px solid rgba(223, 223, 223, 0.30);
        color: #FFFFFF;
        padding: 10px 10px;
    }
    .fb-login {
        outline: none;
        background-color: #3B5998;
        border: 1px solid rgba(223, 223, 223, 0.30);
        color: #FFFFFF;
        padding: 10px 10px;
    }
    .login-or {
        border-top: solid 1px #221F20;
        text-align: center;
        span {
            background-color: #fff;
            padding: 3px 12px;
            display: inline-block;
            position: relative;
            top: -15px;
        }
    }
    .text-primary {
        color: $theme-color !important;
    }
    .transport-price {
        font-size: 2rem;
    }
    .tour-facility {
        span {
            width: 80px;
            display: inline-block;
        }
    }

    @include media-breakpoint-down(sm) {
        .table-responsive {
            table {
                p {
                    white-space: nowrap;
                }
            }
        }
    }
    .btn-light {
        background-color: $gray-300;
        border-color: $gray-300;
        &:hover {
            background-color: $primary;

        }
    }
    .btn-light.active {
        background-color: $primary !important;
        color: $white !important;
    }
    .btn {
        line-height: 2rem;
    }
}

.font-weight-bold {
    font-family: $font-weight-bold;
}

strong {
    font-family: $secondary-bold-font;
}


@include media-breakpoint-down(md) {
    .itinerary_block {
        .itinerary_left {
            &.active {
                height: calc(100% - 216px);
            }
        }
    }
}

@media(max-width: 1365px) {
    .accomodation-grid {
        .card-body {
            padding: 0.9rem;
            span {
                font-size: 10px;
            }
            h5 {
                font-size: 15px;
            }
        }
    }
}

.border-radius-0 {
    border-radius: 0px;
}
